@model IEnumerable<HockeyManager.Models.HMPlayer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".backup_picture").on("error", function () {
                $(this).attr('src', 'https://b.fssta.com/uploads/application/fs-app/default-headshot.vresize.315.315.medium.0.png');
            });
        });
    </script>

<table class="table">
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlusMinus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerInfo.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PenalityMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shutouts)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="backup_picture" src=@Html.DisplayFor(modelItem => item.PlayerInfo.HeadShotUrl) onerror="this.src='../images/silhouette-headshot.png'" width="100" height="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Goals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlusMinus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInfo.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PenalityMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shutouts)
            </td>
        </tr>
}
    </tbody>
</table>
